
body{
background:#0b0b14;
color:white;
font-family:Arial;
margin:0;
}

.top{
background:#6c2bd9;
padding:20px;
}

.featured{
padding:15px;
}

.players{
display:flex;
overflow-x:auto;
gap:15px;
}

.player{
text-align:center;
}

.player img{
width:80px;
height:80px;
border-radius:50%;
border:3px solid #6c2bd9;
}

.games{
padding:15px;
}

.game{
background:#151526;
margin-bottom:15px;
padding:15px;
border-radius:10px;
}

.markets{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

button{
background:#1d1d35;
border:1px solid #6c2bd9;
color:white;
padding:10px;
border-radius:8px;
}

.playerScreen{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
}

.hidden{
display:none;
}

.playerCard{
background:#141428;
padding:25px;
border-radius:10px;
width:90%;
}
